<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Ajouter un nouveau moniteur</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="candidats">Candidats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Véhicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/moniteurs">Moniteurs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/depenses">Dépenses</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/examens">Examens</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
 </div>
    <div align="center">
    <br><br>
        <h1><b>Ajouter un nouveau moniteur</b></h1>
        <br />
        <form action="#" th:action="@{/enregistrer_moniteur}" th:object="${moniteur}"
            method="get" class="row g-3">
 
                <div class="form-floating mb-3" style="width:500px;margin-left:150px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{nom}">
  <label for="floatingInput">Nom Complet</label>
</div>
               <div class="form-floating mb-3" style="width:500px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{cin}">
  <label for="floatingInput">CIN</label>
</div>
 <div class="form-floating mb-3" style="width:500px;margin-left:150px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{cap}">
  <label for="floatingInput">C.A.P</label>
</div>
 <div class="form-floating mb-3" style="width:500px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{email}">
  <label for="floatingInput">Email</label>
</div>
                 <div class="form-floating mb-3" style="width:500px;margin-left:150px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{telephone}">
  <label for="floatingInput">Télephone</label>
</div>
                 <div class="form-floating mb-3" style="width:500px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{adresse}">
  <label for="floatingInput">Adresse</label>
</div>
                  <div class="form-floating mb-3" style="width:500px;margin-left:150px">
  <input type="text" class="form-control" id="floatingInput" th:field="*{numero_permis}">
  <label for="floatingInput">Numéro_Permis</label>
</div>  
<div class="form-floating" style="width:500px">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" th:field="*{type}">
        <option th:value="'Theorique'" th:text="Theorique">Théorique</option>
        <option th:value="'Pratique'" th:text="Pratique">Pratique</option>
      </select>
        <label for="floatingSelectGrid">Type</label>
    </div>
          <div class="col-12">
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </div>    
        </form>
    </div>
</body>
</html>