<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Moniteurs</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/moniteurs}]]";
    }
</script>
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="candidats">Candidats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Véhicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/moniteurs">Moniteurs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/depenses">Dépenses</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/examens">Examens</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
 </div>
<div align="center">
    <h1><b>Moniteurs</b></h1>

    <br/><br/>
    <form th:action="@{/moniteurs}">
    <input type="text" name="keyword" id="keyword" placeholder="Chercher un moniteur" size="50" th:value="${keyword}" required />
    &nbsp;
   <button type="submit"><i class="fa fa-search"></i></button>
    &nbsp;
         <input type="button" value="Retour" id="btnClear" onclick="clearSearch()" />
   
</form>
      <br/><br/>
    <table border="1" cellpadding="10" class="table">
        <thead class="table-light">
            <tr>
                <th>Nom</th>
                <th>CIN</th>
                <th>C.A.P</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Numero_Permis</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="moniteur : ${listMoniteurs}">
                <td th:text="${moniteur.nom}">Nom</td>
                <td th:text="${moniteur.cin}">CIN</td>
                <td th:text="${moniteur.cap}">C.A.P</td>
                <td th:text="${moniteur.email}">Email</td>
                <td th:text="${moniteur.telephone}">Telephone</td>
                <td th:text="${moniteur.adresse}">Adresse</td>
                <td th:text="${moniteur.numero_permis}">Numero_Permis</td>
                 <td th:text="${moniteur.type}">Type</td>
                 <td>
                  <a th:href="@{/edit_moniteur/{id}(id=${moniteur.id})}"><button class="btn"><i class="fa fa-edit"></i></button></a>
                  
                   <a th:href="@{/delete_moniteur/{id}(id=${moniteur.id})}"><button class="btn"><i class="fa fa-trash"></i></button></a>
             
                </td>
            </tr>
        </tbody>
    </table>
       <a href="/ajouter_moniteur"><button class="btn btn-info"><i class="fa fa-plus"></i>  Ajouter un nouveau moniteur</button></a>
</div>   
</body>
</html>